<div class="b-footer__sharing">
    <div class="b-social b-footer__social">
        <span class="b-social__text">Присоединяйтесь к нам:</span>
        <div class="b-social__btn"><a href="https://www.facebook.com/mesima" target="_blank" class=" "><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
        <div class="b-social__btn"><a href="https://twitter.com/mesima" target="_blank" ><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
        <div class="b-social__btn"><a href="https://www.instagram.com/mesima" target="_blank" class=""><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
        <div class="b-social__btn_ytb"> <a href="https://www.youtube.com/user/mesima" target="_blank" class=""><i class="fa fa-youtube" aria-hidden="true"></i></a></div>
    </div>
</div>